<h2><%= t(:'title.sources') %></h2>

<ul class="nav nav-tabs">
  <%= nav_link_to t(:'button.list_all'), sources_path, :match => :fullpath %>
  <%= link_to iconed(t(:'button.new_source'), :plus, :white), new_source_path, :class => "btn btn-primary pull-right" %>
</ul>

<div class="row-fluid">
  <div class="well span9">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th><%= t(:'field.source') %></th>
          <th><%= t(:'field.type') %></th>
          <th><%= t(:'field.number_of_contacts') %></th>
          <th style="width: 70px;"></th>
        </tr>
      </thead>

      <tbody>
        <% @sources.each do |source| %>
          <tr>
            <td><%= source.id %></td>
            <td><%= link_to source.value, source %></td>
            <td><%= source.label %></td>
            <td><%= badged source.contacts.count, :inverse %></td>
            <td>
              <div class="actions">
                <%= link_to iconed(nil, :eye_open), source, :rel => "tooltip", :'data-original-title' => t(:'tooltip.view') %>
                <%= link_to iconed(nil, :pencil), edit_source_path(source), :rel => "tooltip", :'data-original-title' => t(:'tooltip.edit') %>
                <%= link_to iconed(nil, :trash), source_path(source), :data => { :confirm => t(:'message.send_to_trash?') }, :method => :delete, :rel => "tooltip", :'data-original-title' => t(:'tooltip.trash') %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= render "filters" %>
</div>