<h2><%= @contact.name %> <%= labeled t(@contact.status, :scope => :label), @contact.status_label %></h2>

<ul class="nav nav-tabs">
  <%= nav_link_to t(:'button.details'), contact_path, :match => :fullpath %>
  <%= nav_link_to t(:'button.deals'), contact_path(:tab => :deals) %>
  <%= nav_link_to t(:'button.activities'), contact_path(:tab => :activities) %>

  <div class="btn-group pull-right">
    <%= link_to iconed(t(:'button.edit'), :pencil, :white), edit_contact_path, :class => "btn btn-primary" %>
    <%= link_to iconed(t(:'button.list'), :th_list), contacts_path, :class => "btn" %>
    <%= link_to iconed(t(:'button.new_contact'), :plus), new_contact_path, :class => "btn" %>
  </div>
</ul>

<%= render params[:tab] %>
