<div class="signin">
  <%= simple_form_for resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => "form-horizontal" } do |f| %>
    <h2>Sign in</h2>
    <hr>
    <div class="content clearfix">
      <%= f.input :email, :placeholder => "Email", :autofocus => true %>
      <%= f.input :password, :placeholder => "Password" %>
      <%= f.input :remember_me, :as => :boolean, :inline_label => true, :label => false if devise_mapping.rememberable? %>
      <%= link_to "Forgot your password?", new_user_password_path, :class => "pull-right" %>
    </div>
    <div class="well clearfix">
      <%= f.button :submit, "Sign in", :class => "btn-primary pull-right" %>
    </div>
  <% end %>
</div>